body {
    background-image:url('https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg');
    width:300px;
    background-repeat: no-repeat; 
    background-size: cover;
    /**this is to make sure the picture background covers the entire webpage**/
    font-family: Georgia, serif;
    padding: 20px;
    background-position: center;
  
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  h1{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .menu {
    width: 120%;
    max-width: 500px;
    background-color: rgba(255, 250, 250, 0.863);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /****this padding on the menu keeps all the words centered
    onto the menu without it all the words would be on the edges of the brown 
    form***/
  }
  
  .item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 19px;
  }

    .flavor, .dessert {
        text-align: left;
        width: 75%;
      }
      
      .price {
        text-align: right;
        width: 25%;
      }

      .established {
        font-style: italic;
      }

      hr {
        height: 2px;
        background: beige;
        border-color:burlywood;
      }
      /*** using the hr element this changes the color and border color of the line at the top 
      the menu
      **/

      .bottom-line{
        margin-top: 25px;
      }
      /* FOOTER */

       footer {
        font-size: 14px;
     }

     a{
      color:black;
     }

     a:visited{
       color:black
     }

     a:hover{
       color:white
     }

