body {
    background-image:url('https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg');
    width:300px
     

    }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 120%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
  }
  
  .item p{
    display: inline-block;
  }

    .flavor {
        text-align: left;
        width: 50%;
      }
      
      .price {
        text-align: right;
        width: 50%;
      }